doctype 5
html
	block head
			title=title
			link(rel="stylesheet", href="/stylesheet/style.css")
	body
		header #banner
			h1 Grandioso Chat
		block content
		footer Esperamos que disfrute su estadia
